
@import url('../index.css');

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover.tooltip::before{
    content: attr(data-text); 
    position: absolute;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    z-index: 10;
}

.tooltip.top:hover.tooltip::before{
    bottom: 102%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom:hover.tooltip::before{
    top: 102%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.left:hover.tooltip::before{
    right:102%;
}
.tooltip.right:hover.tooltip::before{
    left:102%;
}


