
@import url('../index.css');

.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover .rectangle{
    border-width: 5px;
    border-style: solid;
}
.tooltip:hover.tooltip::before{
    content: attr(data-text); 
    position: absolute;
    background-color: black;
    color:white;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    z-index: 10;
}

/* TOP */
.tooltip.top:hover.tooltip::before{
    bottom: 105%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip:hover .rectangle.top{
    border-color: black transparent transparent transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:-2px;
}

/* BOTTOM */
.tooltip.bottom:hover.tooltip::before{
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
}
.tooltip:hover .rectangle.bottom{
    border-color: transparent transparent black transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:-2px;
}

/* LEFT */
.tooltip.left:hover.tooltip::before{
    right:105%;
}
.tooltip:hover .rectangle.left{
    border-color: transparent transparent transparent black;
    position: absolute;
    left:-11px;
}


/* RIGHT */
.tooltip.right:hover.tooltip::before{
    left:105%;
}

.tooltip:hover .rectangle.right{
    border-color: transparent black transparent transparent;
    position: absolute;
    right:-11px;
}



